/*-- scss:defaults --*/


/*-- scss:rules --*/

.blue {
	color: $brand-sky-blue;
	font-weight: bold;
}

.orange {
	color: $brand-orange;
	font-weight: bold;
}

.amber {
	color: $brand-amber;
	font-weight: bold;
}

.dark {
	color: $brand-dark;
	font-weight: bold;
}

.light {
	color: $brand-light;
	font-weight: bold;
}

.red {
	color: $brand-rust-red;
	font-weight: bold;
}

.mauve {
	color: $brand-mauve;
	font-weight: bold;
}

.purple {
	color: $brand-purple-muted;
	font-weight: bold;
}

.grey {
	color: $brand-medium;
	font-weight: bold;
}

